/*
Color palette:

#223333 very dark green (for background)
#386641 dark green
#6a994e green
#a7c957 light green
#f2e8cf beige (for text & contrast)
#bc4749 red (for contrast)

*/



body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: #223333;
  color: #f2e8cf;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

a {
  color: #f2e8cf;
  text-decoration: none;
}

h2,
li,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* <!-- .banner-container--> */

.banner-container {
  background-image: url("https://images.unsplash.com/photo-1560114928-40f1f1eb26a0?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

/* <!-- Header--> */

header {
  background: #223333;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 1px solid #bc4749;
  background-color: #6a994e;
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

/* <!-- Main--> */

main {
  margin: 2.5% 5%;
}

/*Need to watch next chapter (Flexbox?) to better style the divs... 3 in each raw, equal height, etc...*/
.cats div {
  background-color: #f2e8cf;
  color: #bc4749;
  width: 30%;
  margin: calc((10%)/6);
  padding: 1em 2em;
  display: inline-block;

}

.cats img {
  width: 100%;
  border-radius: 2em;
}

.cats p {
  margin: 0;
}

/* <!-- Contact Form--> */

form input {
  outline: none;
  border: none;
  padding: 7px 0;
  border-radius: 20px;
  padding-left: 20px;
}

form button {
  background: #bc4749;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 7px 20px;
  text-align: center;
}